header {
	/* background-color: #0000a0; */	
}

textarea {
  width: 300px;
  height: 150px;
}

.panel {
	border: 1px solid #e2dcdc;
	text-align: center;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.formulaire div.info {
	margin-top: 10px;
}

.grandeTaille{
	width: 350px;
}


.info > input {
	display: block;
}

.info > label {
	display: block;
}

#in {
	display: inline;
}

#submitButton {
	width: 220px;
	height: 2em;
    background: #e6e6e6;
    border: 1px solid #999;
    font-family: inherit;
}