.panel {
	border: 1px solid #e2dcdc;
	text-align: center;
}

.formulaire div {
	margin-top: 10px;
}

.grandeTaille{
	width: 350px;
}


.info > input {
	display: block;
}

.info > label {
	display: block;
}

#in {
	display: inline;
}